.VirtualizedSelectOption {
    background-color: #303030 !important;
    color: #fff !important;
    padding: 10px !important;
    border-radius: 5px !important;
    margin: 5px 0 !important;
}

.VirtualizedSelectFocusedOption {
    background-color: #424242 !important; /* Slightly different color for the focused option */
}

.VirtualizedSelectOption:hover {
    background-color: #424242 !important;
    color: #fff !important;
}

.Select-menu-outer {
    border-radius: 5px !important;
    background-color: #303030 !important;
    border: 2px solid #757575 !important;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
}

/* Apply to all DataTable components */
.dash-table-container .dash-spreadsheet {
    font-family: 'Arial', sans-serif;
    color: white;
}

/* Apply specifically to the table cells */
.dash-spreadsheet td, .dash-spreadsheet th {
    font-family: 'Arial', sans-serif;
}
